name: Build base Docker image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    env:
      ZEPHYR_SDK_TOOLCHAINS: "-t arm-zephyr-eabi -t x86_64-zephyr-elf -t xtensa-espressif_esp32s2_zephyr-elf -t xtensa-espressif_esp32s3_zephyr-elf -t xtensa-espressif_esp32_zephyr-elf"

    strategy:
      matrix:
        ZEPHYR_SDK_VERSION: [0.16.1, 0.16.3]


    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          file: Dockerfile.zephyr
          push: true
          tags: ghcr.io/beriberikix/golioth-zephyr-base:${{ matrix.ZEPHYR_SDK_VERSION }}sdk
          build-args: |
            ZEPHYR_SDK_VERSION=${{ matrix.ZEPHYR_SDK_VERSION }}
            ZEPHYR_SDK_TOOLCHAINS=${{ env.ZEPHYR_SDK_TOOLCHAINS }}